@font-face { font-family: 'Apolonia'; font-style: normal; font-weight: normal; src: url('Apolonia.otf'); }
@font-face { font-family: 'Apolonia'; font-style: normal; font-weight: bold; src: url('Apolonia-Bold.otf'); }
@font-face { font-family: 'Apolonia'; font-style: italic; font-weight: normal; src: url('Apolonia-Italic.otf'); }
@font-face { font-family: 'Apolonia'; font-style: italic; font-weight: bold; src: url('Apolonia-BoldItalic.otf'); }

@page {
    margin-bottom: 5pt;
    margin-top: 5pt;
}

.body {
    display: block;
    font-family: 'Apolonia';
    font-size: 1em;
    margin-left: 5pt;
    margin-right: 5pt;
    page-break-before: always;
}

div {
    display: block;
}

div.chapter {
    text-align: center;
}

p {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    text-indent: 1em;
}

.author {
    font-size: 262%;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0;
}

.title {
    font-size: 162%;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0;
}

.title_sub {
    font-size: 100%;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
    text-indent: 0;
}

.title_original {
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
    text-indent: 0;
}

.translator {
    margin-bottom: 1em;
    margin-top: 1em;
    text-indent: 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.superscript{
    font-size:xx-small;
    vertical-align:top;
} 
